<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <metadata>
    <version>1.0.0</version>
    <authors>Hussein Nakhostin Saed</authors>
    <owners />
    <language>en-US</language>
    <icon>NSCaptcha.png</icon>
  </metadata>
  <files>
    <file src="NSCaptcha.png" target="content" />
  </files>
</package>